# виртуальное окружение
venv/
.venv/
.env


# кэш питона
__pycache__/
*.pyc
*.pyo
*.pyd

# логи
*.log

# настройки IDE / редакторов
.vscode/
.idea/

# macOS мусор
.DS_Store

# другие временные файлы
*.swp
*.swo

# если используешь Jupyter-ноутбуки (на всякий случай)
.ipynb_checkpoints/
